* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navigation {
    text-align: center;

}
.nav-menu>li{
    display: inline-block;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 25px;
}
.nav-menu-item {
    text-decoration: none;
    margin: 0 36px;
    color: #FF0000;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 18px;
}
.container {
    text-align: center;
    width: 1145px;
    margin: 0 auto;

}.title {
     margin-top: 48px;
margin-bottom: 28px;
     font-size: 22px;
     letter-spacing: 3px;
     color: #373737;
 }
.text {
margin-bottom: 28px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3px;
    color: #373737;
}
.btn {
    width: 191px;
    height: 51px;
margin-top: 38px;
    margin-bottom: 42px;
    background: #FF0000;
    border-radius: 4px;
}
.btn a {
    text-decoration: none;
    color: #FFFFFF;
    width: 105px;
    height: 16px;
    font-size: 12px;
    letter-spacing: 2px;
}
.footer-text {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 105px;
    text-align: right;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 20px;
    color: #373737;
}